:root {
  --clr-bcg: #fff;
  --clr-color: #282c35;
  --clr-primary: #4d4dff;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: var(--clr-bcg);
  float: right;
  padding: 40px 10px;
  position: relative;
  color: var(--clr-color);
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: var(--clr-color);
}

.cart-heading .heading {
  margin-left: 10px;
  color: var(--clr-color);
}

.cart-num-items {
  margin-left: 10px;
  color: var(--clr-color);
}

.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.product-container {
  margin-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;

  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 140px;
  height: 200px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 18px;
}
.flex h4 {
  font-size: 20px;
}

.flex h4,
h5 {
  color: var(--clr-color);
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
  color: var(--clr-color);
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background-color: lightblue;
  color: black;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 800px) {
  .cart-container {
    width: 415px;
    padding: 4px;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: var(--clr-color);
  }
  .flex h4 {
    font-size: 16px;
    color: var(--clr-color);
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
  .success-wrapper,
  .cancel-wrapper {
    background-color: var(--clr-bcg);
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}
