.product-card {
  width: 290px;
  min-height: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  scale: 1;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  border-radius: 1rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }
}
